/*---------------For Pages---------------*/

.logo__small{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 85%;
    left: 90%;
    cursor: auto;
}

/*---------------Say Hi---------------*/

.coverContent{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 20%;
    top: 25%;
    width: 1100px;
    height: 550px;

    background: linear-gradient(180deg, rgba(165, 255, 217, 0.96) 0%, rgba(97, 255, 255, 0.96) 100%);
}

.myself{
    width: 400px;
    height: 460px;

    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.sayHiContent{
    position: absolute;
    left: 55%;
    top: 25%;
}

.sayHiText__H1{
    font-size: 90px;
    line-height: 100px  ;
}

.sayHiText__H2{
    font-size: 64px;
    line-height: 90px;
}

.sayHiText__H3{
    width: 400px;
    font-size: 36px;
}

.lineCover--topLeft{
    position: absolute;
    width: 500px;
    height: 500px;
    right: 60%;
    bottom: 23%;
}

.lineCover--botRight{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 24%;
    left: 60%;

    transform: rotate(180deg);
}

/*---------------Skills---------------*/
.SkillPage{
    background: linear-gradient(180deg, #f6f87f 0%, #5AC4FF 100%);
    width: 100vw;
    height: 100vh
}

.SkillsContent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.SkillsContent--cover{
    width: 25vw;
    height: 60vh;
    background: linear-gradient(180deg, #f8f5dd 0%, #92E2FC 100%);
    transition: all 0.2 ease;
    border-radius: 0 70px 0 70px;

    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.SkillsContent--cover:hover{
    background-image: linear-gradient(180deg, #00FFA3 0%, #ACE1FF 100%);
}

.SkillContent--Name{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    line-height: 100px;
}

.SkillContent--Icon{
    margin-right: 15px ;
}

.SkillContent--Des{
    font-size: 24px;
    line-height: 25px;
    margin: 30px auto;
}

.SkillContent--Skills-Tools{
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 50px;
}

.SkillContent--Skills-Tools__font{
    font-size: 34px;
    text-decoration: underline;
}

.SkillContent--Skills-Tools--place{
    margin-left: 60px;
}

/*---------------Contact---------------*/
.parrot--right{
    position: absolute;
    height: 400px;
    width: 470px;
    margin-left: -125px;
    z-index: 2;
    left: 85%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vine--right{
    position: absolute;
    top: 0;
    z-index: 1;
    margin-left: 100px;
    left: 85%;
    height: 700px;
}

.parrot--left{
    position: absolute;
    bottom: 0;
    height: 500px;
    width: 580px;
    margin-bottom: -65px;
    margin-left: -60px;
    z-index: 2;
}

.vine--left{
    position: absolute;
    top: 0;
    z-index: 1;
    margin-left: 80px;
    height: 900px;
}

.ContactContent--cover{
    height: 400px;
    width: 400px;
    
    border: solid 1px black;
    border-radius: 50px 50px 50px 50px;

    background-color: rgba(252, 240, 255, 0.247);

    position: absolute;
    top: 30%;
    left: 38%;
    padding: 30px;
}

.Contact--Title{
    display: flex;
    justify-content: center;
    margin: 40px 0;
    font-size: 40px;
}

strong{
    font-size: 32px;
    line-height: 50px;
    text-decoration: underline;
}

.ContactContent--infor{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contact-icon{
    margin-right: 10px;
}

/*---------------Contact---------------*/
.Aboutme-logout{
    border-color: white ;
    color: white;
}

.coverIconAboutMe{
    border: solid 1px #ffffff;
    border-radius: 50%;
    padding: 4px;
    height: 45px;
    width: 45px;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    
    position: absolute;
    left: 48%;
}

.coverIconAboutMe:hover{
    background-color: #e6f75073;
}

.sus{

    height: 450px;
    width: 350px;

    position: absolute;
    left: 78%;
    top: 30%;
    animation: float 4s ease infinite;
}


@keyframes float {
    0% { transform: translateY(-10px) }
    50% { transform: translateY(15px) translateX(15px) }
    100% { transform: translateY(-10px) }
}

.aboutMeContent{
    padding: 50px 30px;
    width: 900px;
    height: 500px;

    border:solid 2px white;
    backdrop-filter: blur(4px);
    border-radius: 75px;
    
    position: absolute;
    top: 25%;
    left: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.aboutMeContent--text{
    color: white;
    font-size: 30px;
    line-height: 40px;
    width: 800px;
}

/*---------------DisplayProject---------------*/
.ProjectData--Box{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.ProjectData{
    display:flex;
    flex-wrap: wrap;

    position: absolute;
    left: calc(9rem + 6.5vw);
    top: 13rem;
    width: 1600px;
}

.ProjectData--cover{
    width: 19rem;
    height: 29vh;
    padding: 1.5rem 1.5rem;
    margin-right: 10rem;
    border-radius: 60px 0 60px 0;
    transition: all 0.2s ease;

    border:dotted 2px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: linear-gradient(180deg, #00FFA3 0%, #ACE1FF 100%);;
}

.ProjectData--cover:hover{
    background: linear-gradient(180deg, #f8f5dd 0%, #92E2FC 100%);
}

.ProjectData--Name{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 32px;
}

.ProjectData--Des{
    font-size: 24px;
}

.ProjectData--Lang{
    font-size: 18px;
}

.border{
    border-top: solid 2px #000000;
    margin-bottom: 20px;
}